In [10]:
#1번
print("Hello World!")

Hello World!

In [11]:
#2qjs
print("Mary's cosmetics")

Mary's cosmetics

In [12]:
#3번
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [13]:
#4번
print('"C:\Windows"')

"C:\Windows"

In [14]:
#5번
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [15]:
#6번
print ("오늘은", "일요일")

오늘은 일요일

In [16]:
#7번
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [17]:
#8번
print("first");print("second")

first
second

In [30]:
from queue import Queue

K= int(input())

que = Queue()

seroTotal = 0
seroMax = 0
garoTotal = 0
garoMax = 0

melon = [[0] * 2 for _ in range(6)]
four = [0] * 4

for i in range(6):
    data = input().split()
    compass = int(data[0])
    length = int(data[1])

    melon[i][0] = compass
    melon[i][1] = length

    if (compass  == 3 or compass  == 4):
        seroTotal += length
    if (compass  == 1 or compass  == 2):
        garoTotal += length    
    que.put(length)    

seroMax = int(seroTotal / 2)
garoMax = int(garoTotal / 2)

lastIndex = 0

for i in range(5):
    if((melon[i][1] == seroMax and melon[i + 1][1] == garoMax) or (melon[i][1] == garoMax and melon[i + 1][1] == seroMax)):
        lastIndex = i + 1
if ((melon[5][1] == seroMax and melon[0][1] == garoMax) or (melon[5][1] == garoMax and melon[0][1] == seroMax)):
		lastIndex = 0
if lastIndex != 5: 
	for i in range(lastIndex + 1):
		que.put(que.get())             
for i in range(4):
       four[i] = que.get()       
result = ((seroMax * garoMax) - (four[1] * four[2])) * K   
print(result)

47600.0

In [ ]:
import math

math.factorial(n)

def factorial (n):
    if n==0:
        n=1
    if n<=1:
        return n
    else:
        return factorial(n - 1) * n
    
def pluscase (x,y,z):
    return factorial(x+y+z)/(factorial(x)*factorial(y)*factorial(z))

In [1]:
#11번
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [2]:
#12번
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [6]:
#13번
s= "hello"
type(s)
t= "python"

print(s+"!", t)
print(s+"!"+t)

hello! python
hello!python

In [9]:
#15번
a = 128
print (type(a))

<class 'int'>

In [14]:
#16번
num_str = "720"
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [20]:
#17번
num = 100
str_num=str(num)
print(type(str_num))
print(str_num, type(str_num))

<class 'str'>
100 <class 'str'>

In [22]:
#18번
data = "15.79"
print(type(data))
data = float(data)
print(data, type(data))

<class 'str'>
15.79 <class 'float'>

In [23]:
#19번
year="2020"
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [25]:
#20
에어컨 = 48584
개월 = 36
total = 에어컨 * 개월
print(total)

1749024

In [27]:
#21
letters = 'python'
print(letters[0], letters[2])

p t

In [40]:
#22
license_plate="24가 2210"
print(license_plate[-4:])
print(license_plate[4:])

2210

In [53]:
#23
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [55]:
#24
string = "PYTHON"
print(string[::-1])

NOHTYP

In [56]:
a = "Life is too short"
len(a)

17

In [64]:
a = "Life is too short, You need Python"
a[3]

a[-1]

a[0:4]

0<= a <4

'Life'

In [66]:
a = "Life is too short, You need Python"
a[19:]
a[:17]

'Life is too short'

In [67]:
a = "Life is too short, You need Python"
a[19:-7]

'You need'

In [71]:
a = "20230331Rainy"
date = a[:8]
weather = a[8:]
date
weather

'Rainy'

In [72]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222