In [1]:
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\kikon\appdata\local\programs\python\python310\lib\site-packages (8.0.33)
Collecting protobuf<=3.20.3,>=3.11.0 (from mysql-connector-python)
  Downloading protobuf-3.20.3-cp310-cp310-win_amd64.whl (904 kB)
                                              0.0/904.0 kB ? eta -:--:--
     -                                       30.7/904.0 kB 1.4 MB/s eta 0:00:01
     ---                                   81.9/904.0 kB 919.0 kB/s eta 0:00:01
     -------                                174.1/904.0 kB 1.3 MB/s eta 0:00:01
     -------------------------------------- 904.0/904.0 kB 5.7 MB/s eta 0:00:00
Installing collected packages: protobuf
  Attempting uninstall: protobuf
    Found existing installation: protobuf 4.23.3
    Uninstalling protobuf-4.23.3:
      Successfully uninstalled protobuf-4.23.3
Successfully installed protobuf-3.20.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  port = 3306,
  user="metro",
  password="abcd",
  database="metro"
)

In [3]:
import pandas as pd

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM timeinfo")

myresult = mycursor.fetchall()

df = pd.DataFrame(myresult, columns=[i[0] for i in mycursor.description])

In [6]:
df.head()

   Seq  TrainNo StationName ArriveTime DepartTime
0    1        1          노포       5:08     5:08\r
1    2        1         범어사       5:09     5:10\r
2    3        1          남산       5:11     5:12\r
3    4        1          두실       5:13     5:13\r
4    5        1          구서       5:15     5:15\r

In [7]:
df.isnull(axis = 1)

TypeError: DataFrame.isnull() got an unexpected keyword argument 'axis'

In [8]:
mycursor = mydb.cursor()

query = """
UPDATE timeinfo
SET StationName = '노포'
WHERE StationName = '134'
"""

mycursor.execute(query)
mydb.commit()