In [13]:
import pandas as pd

In [18]:
운행정보= 'C:\coding\python\project\SubWayfile\변환\drivinginfo.csv'
역정보 = 'C:\coding\python\project\SubWayfile\변환\stationinfo.csv'
승강장정보 = 'C:\coding\python\project\SubWayfile\변환\platforminfo.csv'
편의시설 = 'C:\coding\python\project\SubWayfile\변환\facility.csv'
승하차인원 = 'C:\coding\python\project\SubWayfile\변환\count.csv'

In [24]:
df_drivinginfo = pd.read_csv('C:\coding\python\project\SubWayfile\변환\drivinginfo.csv')
df_stationinfo = pd.read_csv('C:\coding\python\project\SubWayfile\변환\stationinfo.csv')
df_platforminfo = pd.read_csv('C:\coding\python\project\SubWayfile\변환\platforminfo.csv')
df_facility = pd.read_csv("C:/coding/python/project/SubWayfile/변환/facility.csv")
df_count = pd.read_csv('C:\coding\python\project\SubWayfile\변환\count.csv')

In [25]:
df_drivinginfo.head()
# df_stationinfo.head()
# df_platforminfo.head()
# df_facility.head()
# df_count.head()

,열차번호,노선번호,노선명,운행구간기점명,운행구간종점명,운행유형,요일구분,운행구간정거장,정거장도착시각,정거장출발시각,운행속도,운영기관전화번호,데이터기준일자
0,1001,S2601,부산 도시철도 1호선,노포,다대포해수욕장,일반,평일,001-노포+002-범어사+003-남산+004-두실+005-구서+006-장전+007...,001-05:08+002-05:09+003-05:11+004-05:13+005-05...,001-05:08+002-05:10+003-05:12+004-05:13+005-05...,39.6km/h,1544-5005,2023-07-11
1,1003,S2601,부산 도시철도 1호선,노포,다대포해수욕장,일반,평일,001-노포+002-범어사+003-남산+004-두실+005-구서+006-장전+007...,001-05:18+002-05:20+003-05:22+004-05:23+005-05...,001-05:18+002-05:20+003-05:22+004-05:24+005-05...,39.6km/h,1544-5005,2023-07-11
2,1005,S2601,부산 도시철도 1호선,노포,다대포해수욕장,일반,평일,001-노포+002-범어사+003-남산+004-두실+005-구서+006-장전+007...,001-05:29+002-05:31+003-05:33+004-05:34+005-05...,001-05:29+002-05:31+003-05:33+004-05:35+005-05...,39.6km/h,1544-5005,2023-07-11
3,1007,S2601,부산 도시철도 1호선,노포,다대포해수욕장,일반,평일,001-노포+002-범어사+003-남산+004-두실+005-구서+006-장전+007...,001-05:40+002-05:42+003-05:44+004-05:45+005-05...,001-05:40+002-05:42+003-05:44+004-05:46+005-05...,39.6km/h,1544-5005,2023-07-11
4,1009,S2601,부산 도시철도 1호선,노포,다대포해수욕장,일반,평일,001-노포+002-범어사+003-남산+004-두실+005-구서+006-장전+007...,001-05:51+002-05:53+003-05:55+004-05:56+005-05...,001-05:51+002-05:53+003-05:55+004-05:57+005-05...,39.6km/h,1544-5005,2023-07-11

In [29]:
# Split the stations, arrival times, and departure times
stations_split = df_drivinginfo['운행구간정거장'].str.split('+', expand=True)
arrival_times_split = df_drivinginfo['정거장도착시각'].str.split('+', expand=True)
departure_times_split = df_drivinginfo['정거장출발시각'].str.split('+', expand=True)

# Initialize a new dataframe
new_data = pd.DataFrame()

# Repeat for each column (station)
for i in range(stations_split.shape[1]):
    temp_data = df_drivinginfo[['열차번호', '노선번호', '노선명', '운행구간기점명', '운행구간종점명', '운행유형', '요일구분', '운행속도', '운영기관전화번호', '데이터기준일자']].copy()
    temp_data['정거장'] = stations_split[i]
    temp_data['도착시각'] = arrival_times_split[i]
    temp_data['출발시각'] = departure_times_split[i]
    
    # Remove rows where station is None
    temp_data = temp_data.dropna(subset=['정거장'])
    
    # Append to the new dataframe
    new_data = pd.concat([new_data, temp_data])

# Reset the index of the new dataframe
new_data = new_data.reset_index(drop=True)

new_data.head()

,열차번호,노선번호,노선명,운행구간기점명,운행구간종점명,운행유형,요일구분,운행속도,운영기관전화번호,데이터기준일자,정거장,도착시각,출발시각
0,1001,S2601,부산 도시철도 1호선,노포,다대포해수욕장,일반,평일,39.6km/h,1544-5005,2023-07-11,001-노포,001-05:08,001-05:08
1,1003,S2601,부산 도시철도 1호선,노포,다대포해수욕장,일반,평일,39.6km/h,1544-5005,2023-07-11,001-노포,001-05:18,001-05:18
2,1005,S2601,부산 도시철도 1호선,노포,다대포해수욕장,일반,평일,39.6km/h,1544-5005,2023-07-11,001-노포,001-05:29,001-05:29
3,1007,S2601,부산 도시철도 1호선,노포,다대포해수욕장,일반,평일,39.6km/h,1544-5005,2023-07-11,001-노포,001-05:40,001-05:40
4,1009,S2601,부산 도시철도 1호선,노포,다대포해수욕장,일반,평일,39.6km/h,1544-5005,2023-07-11,001-노포,001-05:51,001-05:51

In [27]:
stations_split.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,001-노포,002-범어사,003-남산,004-두실,005-구서,006-장전,007-부산대,008-온천장,009-명륜,010-동래,...,034-신평,035-동매,036-장림,037-신장림,038-낫개,039-다대포항,040-다대포해수욕장,None,None,None
1,001-노포,002-범어사,003-남산,004-두실,005-구서,006-장전,007-부산대,008-온천장,009-명륜,010-동래,...,034-신평,035-동매,036-장림,037-신장림,038-낫개,039-다대포항,040-다대포해수욕장,None,None,None
2,001-노포,002-범어사,003-남산,004-두실,005-구서,006-장전,007-부산대,008-온천장,009-명륜,010-동래,...,034-신평,035-동매,036-장림,037-신장림,038-낫개,039-다대포항,040-다대포해수욕장,None,None,None
3,001-노포,002-범어사,003-남산,004-두실,005-구서,006-장전,007-부산대,008-온천장,009-명륜,010-동래,...,034-신평,035-동매,036-장림,037-신장림,038-낫개,039-다대포항,040-다대포해수욕장,None,None,None
4,001-노포,002-범어사,003-남산,004-두실,005-구서,006-장전,007-부산대,008-온천장,009-명륜,010-동래,...,034-신평,035-동매,036-장림,037-신장림,038-낫개,039-다대포항,040-다대포해수욕장,None,None,None

In [30]:
# Further split the station, arrival time, and departure time columns
new_data['정거장번호'], new_data['정거장명'] = new_data['정거장'].str.split('-', 1).str
new_data['도착시각번호'], new_data['도착시각'] = new_data['도착시각'].str.split('-', 1).str
new_data['출발시각번호'], new_data['출발시각'] = new_data['출발시각'].str.split('-', 1).str

# Remove the original columns
new_data = new_data.drop(columns=['정거장', '도착시각번호', '출발시각번호'])

new_data.head()

TypeError: StringMethods.split() takes from 1 to 2 positional arguments but 3 were given

In [31]:
pd.__version__

'2.0.3'